*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'Lexend';
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf) format(opentype);
}
@font-face {
    font-family:'Josefin';
    src: url(../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format(opentype);
}
:root{

    --color1: #fff;
    --color2: #ca87d5;
    --color3: #9e4faa;
    --color4: #742680;
    --color5: #4b0b55;
    --color6: #2c0033;

    --font1: 'Josefin';
    --font2: 'Lexend';
}
body{
    background-color: var(--color1);
    /* padding: 20px; */
}
header{
    border-bottom: 2px var(--color5) solid;
    /* border: 1px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font2);
    height: 20vh;
    /* padding: 0px 20px; */
}
h1{
    /* border: 1px solid orange; */
    /* width: 50vw; */
}
ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
    /* border: 1px solid purple; */
    width: 80vw;

}
a{
    color: black;
    text-decoration: none;
}
main{
    /* border: 1px solid red; */
    height: auto;
    padding: 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}
h2{
    font-family: var(--font1);
}
#sobre{
    height: auto;
    padding: 20px 20px;
}
aside{
    /* border: 1px solid blue; */
    height: auto;
    padding: 20px 20px;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--color4);
    color: var(--color1);
}
.img-skills{
    /* border: 1px solid red; */
    margin: 10px 0px;
}
section{
    /* border: 1px solid yellow; */
    height: auto;
    padding: 20px 20px;
}
.img-skills{
    border: 1px solid var(--color1);
    margin: 10px 0px;
    height: 20vh;
    width: 85vw;
}
.img-proj, .desc-proj, .img-sobre, .img-sobre{
    border: 1px solid red;
    height: 20vh;
    width: 85vw;
}
.proj{
    margin: 10px 0px;
    display: flex;
    flex-flow: column-reverse nowrap;
}
.proj:nth-child(odd){
    display: flex;
    flex-flow: column-reverse nowrap;
}
footer{
    border: 1px solid black;
    height: 50vh;
    padding: 0px 20px;
}